<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test Angular2</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <main>         
    <input type="text" name="name" placeholder="Name" class='name' id="js-name">
    <input type="submit" name="Submit" id="js-submit">
    <div class="list">
      <ul id="js-content">
        <h1>Member</h1>
        <li class="item-member" id="member"></li>
      </ul>
    </div>
  </main>
  <script src="../ts/base.js"></script>
</body>
</html>
